* {
    background-color: #aee5c0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.main-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust the height as needed */
}

.main-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.main-page-form > * {
    margin-bottom: 20px;
}

.ticket-summary {
    border: 3px solid black; /* Add black border around the ticket summary */
    padding: 20px; /* Add padding inside the ticket summary */
    margin-bottom: 20px; /* Add space between each ticket summary */
    //padding-bottom: 10px;
}

.ticket-summaries-title, .help-desk-title {
    font-size: 30px;
}

.ticket-summary p {
    margin: 0; /* Remove default margins for paragraphs */
}

.ticket-summary .response-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.ticket-summary textarea {
    width: calc(100% - 80px); /* Set width for textarea */
    margin-right: 20px;;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.admin-page {
    display: flexbox;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    //height: 100vh; /* Ensure full viewport height */
    margin: 0; /* Remove default margin */
}

.admin-page-button, .main-page-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

button {
    background-color: #00531b;
    color: white;
    border-radius: 10px;
}

input, textarea, select {
    background: #F5F5F5;
}

